@font-face {
  font-family: 'sobex-tech';
  src:  url('sobex-tech.eot?hqfjdf');
  src:  url('sobex-tech.eot?hqfjdf#iefix') format('embedded-opentype'),
    url('sobex-tech.ttf?hqfjdf') format('truetype'),
    url('sobex-tech.woff?hqfjdf') format('woff'),
    url('sobex-tech.svg?hqfjdf#sobex-tech') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sobex-tech' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sobex-tech-plus1:before {
  content: "\f24a";
}
.sobex-tech-minus-square-outlined-button:before {
  content: "\f24b";
}
.sobex-tech-minus-2:before {
  content: "\f24c";
}
.sobex-tech-minus-1:before {
  content: "\f24d";
}
.sobex-tech-minus1:before {
  content: "\f24e";
}
.sobex-tech-minus-sign:before {
  content: "\f24f";
}
.sobex-tech-search-2:before {
  content: "\f250";
}
.sobex-tech-search-11:before {
  content: "\f251";
}
.sobex-tech-transparency:before {
  content: "\f252";
}
.sobex-tech-search1:before {
  content: "\f253";
}
.sobex-tech-search-interface-symbol:before {
  content: "\f254";
}
.sobex-tech-cancel-2:before {
  content: "\f255";
}
.sobex-tech-unchecked:before {
  content: "\f256";
}
.sobex-tech-cancel-1:before {
  content: "\f257";
}
.sobex-tech-cancel1:before {
  content: "\f258";
}
.sobex-tech-multiply:before {
  content: "\f259";
}
.sobex-tech-shield-check:before {
  content: "\f25a";
}
.sobex-tech-check-1:before {
  content: "\f25b";
}
.sobex-tech-check-box-with-check-sign:before {
  content: "\f25c";
}
.sobex-tech-checked-1:before {
  content: "\f25d";
}
.sobex-tech-draw-check-mark-5:before {
  content: "\f25e";
}
.sobex-tech-check:before {
  content: "\f25f";
}
.sobex-tech-checked:before {
  content: "\f260";
}
.sobex-tech-down-arrow-3:before {
  content: "\f261";
}
.sobex-tech-down-arrow-2:before {
  content: "\f262";
}
.sobex-tech-down-arrow-1:before {
  content: "\f263";
}
.sobex-tech-down-arrow:before {
  content: "\f264";
}
.sobex-tech-arrow-down-sign-to-navigate:before {
  content: "\f265";
}
.sobex-tech-arrow-up1:before {
  content: "\f266";
}
.sobex-tech-up-arrow-3:before {
  content: "\f267";
}
.sobex-tech-up-arrow-2:before {
  content: "\f268";
}
.sobex-tech-up-arrow-1:before {
  content: "\f269";
}
.sobex-tech-up-arrow:before {
  content: "\f26a";
}
.sobex-tech-arrowheads-of-thin-outline-to-the-left:before {
  content: "\f26b";
}
.sobex-tech-left-arrow-1:before {
  content: "\f26c";
}
.sobex-tech-left-arrow:before {
  content: "\f26d";
}
.sobex-tech-arrow:before {
  content: "\f26e";
}
.sobex-tech-arrow-right1:before {
  content: "\f26f";
}
.sobex-tech-fast-forward:before {
  content: "\f270";
}
.sobex-tech-next:before {
  content: "\f271";
}
.sobex-tech-right-arrow:before {
  content: "\f272";
}
.sobex-tech-beautiful:before {
  content: "\f273";
}
.sobex-tech-menu:before {
  content: "\f274";
}
.sobex-tech-square:before {
  content: "\f275";
}
.sobex-tech-stop:before {
  content: "\f276";
}
.sobex-tech-button:before {
  content: "\f277";
}
.sobex-tech-favorite:before {
  content: "\f278";
}
.sobex-tech-circle:before {
  content: "\f279";
}
.sobex-tech-sharing:before {
  content: "\f27a";
}
.sobex-tech-add-1:before {
  content: "\f27b";
}
.sobex-tech-plus-2:before {
  content: "\f27c";
}
.sobex-tech-add:before {
  content: "\f27d";
}
.sobex-tech-plus-1:before {
  content: "\f27e";
}
