@font-face {
  font-family: 'sobex-tech';
  src:  url('sobex-tech.eot?hpaj46');
  src:  url('sobex-tech.eot?hpaj46#iefix') format('embedded-opentype'),
    url('sobex-tech.ttf?hpaj46') format('truetype'),
    url('sobex-tech.woff?hpaj46') format('woff'),
    url('sobex-tech.svg?hpaj46#sobex-tech') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.tabsebox-r-container *i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sobex-tech' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sobex-tech-cloud-download:before {
  content: "\e902";
}
.sobex-tech-cloud-lock:before {
  content: "\f197";
}
.sobex-tech-cloud-upload:before {
  content: "\f198";
}
.sobex-tech-cloud-data:before {
  content: "\f199";
}
.sobex-tech-times:before {
  content: "\f19a";
}
.sobex-tech-tick:before {
  content: "\f19b";
}
.sobex-tech-plus:before {
  content: "\f19c";
}
.sobex-tech-minus:before {
  content: "\f19d";
}
.sobex-tech-equals:before {
  content: "\f19e";
}
.sobex-tech-divide:before {
  content: "\f19f";
}
.sobex-tech-chevron-right:before {
  content: "\f1a0";
}
.sobex-tech-chevron-left:before {
  content: "\f1a1";
}
.sobex-tech-arrow-right-thick:before {
  content: "\f1a2";
}
.sobex-tech-arrow-left-thick:before {
  content: "\f1a3";
}
.sobex-tech-th-small:before {
  content: "\f1a4";
}
.sobex-tech-th-menu:before {
  content: "\f1a5";
}
.sobex-tech-th-list:before {
  content: "\f1a6";
}
.sobex-tech-th-large:before {
  content: "\f1a7";
}
.sobex-tech-home:before {
  content: "\f1a8";
}
.sobex-tech-arrow-forward:before {
  content: "\f1a9";
}
.sobex-tech-arrow-back:before {
  content: "\f1aa";
}
.sobex-tech-location:before {
  content: "\f1ab";
}
.sobex-tech-link:before {
  content: "\f1ac";
}
.sobex-tech-image:before {
  content: "\f1ad";
}
.sobex-tech-arrow-up-thick:before {
  content: "\f1ae";
}
.sobex-tech-arrow-down-thick:before {
  content: "\f1af";
}
.sobex-tech-star:before {
  content: "\f1b0";
}
.sobex-tech-export:before {
  content: "\f1b1";
}
.sobex-tech-delete:before {
  content: "\f1b2";
}
.sobex-tech-delete-outline:before {
  content: "\f1b3";
}
.sobex-tech-cloud-storage:before {
  content: "\f1b4";
}
.sobex-tech-flash:before {
  content: "\f1b5";
}
.sobex-tech-cancel:before {
  content: "\f1b6";
}
.sobex-tech-backspace:before {
  content: "\f1b7";
}
.sobex-tech-attachment:before {
  content: "\f1b8";
}
.sobex-tech-arrow-move:before {
  content: "\f1b9";
}
.sobex-tech-warning:before {
  content: "\f1ba";
}
.sobex-tech-user:before {
  content: "\f1bb";
}
.sobex-tech-lock-open:before {
  content: "\f1bc";
}
.sobex-tech-lock-closed:before {
  content: "\f1bd";
}
.sobex-tech-location-arrow:before {
  content: "\f1be";
}
.sobex-tech-user-delete:before {
  content: "\f1bf";
}
.sobex-tech-user-add:before {
  content: "\f1c0";
}
.sobex-tech-media-pause:before {
  content: "\f1c1";
}
.sobex-tech-group:before {
  content: "\f1c2";
}
.sobex-tech-chart-pie:before {
  content: "\f1c3";
}
.sobex-tech-chart-line:before {
  content: "\f1c4";
}
.sobex-tech-chart-bar:before {
  content: "\f1c5";
}
.sobex-tech-cog:before {
  content: "\f1c6";
}
.sobex-tech-camera:before {
  content: "\f1c7";
}
.sobex-tech-upload:before {
  content: "\f1c8";
}
.sobex-tech-scissors:before {
  content: "\f1c9";
}
.sobex-tech-refresh:before {
  content: "\f1ca";
}
.sobex-tech-pin:before {
  content: "\f1cb";
}
.sobex-tech-key:before {
  content: "\f1cc";
}
.sobex-tech-info-large:before {
  content: "\f1cd";
}
.sobex-tech-eject:before {
  content: "\f1ce";
}
.sobex-tech-download:before {
  content: "\f1cf";
}
.sobex-tech-zoom:before {
  content: "\f1d0";
}
.sobex-tech-zoom-out:before {
  content: "\f1d1";
}
.sobex-tech-zoom-in:before {
  content: "\f1d2";
}
.sobex-tech-sort-numerically:before {
  content: "\f1d3";
}
.sobex-tech-sort-alphabetically:before {
  content: "\f1d4";
}
.sobex-tech-input-checked:before {
  content: "\f1d5";
}
.sobex-tech-code:before {
  content: "\f1d6";
}
.sobex-tech-arrow-sync:before {
  content: "\f1d7";
}
.sobex-tech-arrow-shuffle:before {
  content: "\f1d8";
}
.sobex-tech-arrow-repeat:before {
  content: "\f1d9";
}
.sobex-tech-arrow-minimise:before {
  content: "\f1da";
}
.sobex-tech-arrow-maximise:before {
  content: "\f1db";
}
.sobex-tech-spanner:before {
  content: "\f1dc";
}
.sobex-tech-power:before {
  content: "\f1dd";
}
.sobex-tech-phone:before {
  content: "\f1de";
}
.sobex-tech-social-flickr:before {
  content: "\f1df";
}
.sobex-tech-at:before {
  content: "\f1e0";
}
.sobex-tech-times-outline:before {
  content: "\f1e1";
}
.sobex-tech-plus-outline:before {
  content: "\f1e2";
}
.sobex-tech-minus-outline:before {
  content: "\f1e3";
}
.sobex-tech-tick-outline:before {
  content: "\f1e4";
}
.sobex-tech-equals-outline:before {
  content: "\f1e5";
}
.sobex-tech-chevron-right-outline:before {
  content: "\f1e6";
}
.sobex-tech-chevron-left-outline:before {
  content: "\f1e7";
}
.sobex-tech-arrow-right-outline:before {
  content: "\f1e8";
}
.sobex-tech-arrow-left-outline:before {
  content: "\f1e9";
}
.sobex-tech-th-small-outline:before {
  content: "\f1ea";
}
.sobex-tech-th-menu-outline:before {
  content: "\f1eb";
}
.sobex-tech-th-list-outline:before {
  content: "\f1ec";
}
.sobex-tech-home-outline:before {
  content: "\f1ed";
}
.sobex-tech-arrow-up-outline:before {
  content: "\f1ee";
}
.sobex-tech-arrow-forward-outline:before {
  content: "\f1ef";
}
.sobex-tech-arrow-down-outline:before {
  content: "\f1f0";
}
.sobex-tech-arrow-back-outline:before {
  content: "\f1f1";
}
.sobex-tech-trash:before {
  content: "\f1f2";
}
.sobex-tech-link-outline:before {
  content: "\f1f3";
}
.sobex-tech-image-outline:before {
  content: "\f1f4";
}
.sobex-tech-export-outline:before {
  content: "\f1f5";
}
.sobex-tech-cross:before {
  content: "\f1f6";
}
.sobex-tech-star-outline:before {
  content: "\f1f7";
}
.sobex-tech-media-pause-outline:before {
  content: "\f1f8";
}
.sobex-tech-mail:before {
  content: "\f1f9";
}
.sobex-tech-warning-outline:before {
  content: "\f1fa";
}
.sobex-tech-radar-outline:before {
  content: "\f1fb";
}
.sobex-tech-lock-open-outline:before {
  content: "\f1fc";
}
.sobex-tech-location-arrow-outline:before {
  content: "\f1fd";
}
.sobex-tech-backspace-outline:before {
  content: "\f1fe";
}
.sobex-tech-attachment-outline:before {
  content: "\f1ff";
}
.sobex-tech-user-outline:before {
  content: "\f200";
}
.sobex-tech-user-delete-outline:before {
  content: "\f201";
}
.sobex-tech-user-add-outline:before {
  content: "\f202";
}
.sobex-tech-lock-closed-outline:before {
  content: "\f203";
}
.sobex-tech-chart-area-outline:before {
  content: "\f204";
}
.sobex-tech-map:before {
  content: "\f205";
}
.sobex-tech-cog-outline:before {
  content: "\f206";
}
.sobex-tech-camera-outline:before {
  content: "\f207";
}
.sobex-tech-upload-outline:before {
  content: "\f208";
}
.sobex-tech-support:before {
  content: "\f209";
}
.sobex-tech-scissors-outline:before {
  content: "\f20a";
}
.sobex-tech-refresh-outline:before {
  content: "\f20b";
}
.sobex-tech-info-large-outline:before {
  content: "\f20c";
}
.sobex-tech-eject-outline:before {
  content: "\f20d";
}
.sobex-tech-download-outline:before {
  content: "\f20e";
}
.sobex-tech-battery-mid:before {
  content: "\f20f";
}
.sobex-tech-battery-low:before {
  content: "\f210";
}
.sobex-tech-battery-high:before {
  content: "\f211";
}
.sobex-tech-zoom-outline:before {
  content: "\f212";
}
.sobex-tech-zoom-out-outline:before {
  content: "\f213";
}
.sobex-tech-zoom-in-outline:before {
  content: "\f214";
}
.sobex-tech-tag:before {
  content: "\f215";
}
.sobex-tech-tabs-outline:before {
  content: "\f216";
}
.sobex-tech-pin-outline:before {
  content: "\f217";
}
.sobex-tech-battery-full:before {
  content: "\f218";
}
.sobex-tech-battery-charge:before {
  content: "\f219";
}
.sobex-tech-pencil:before {
  content: "\f21a";
}
.sobex-tech-folder:before {
  content: "\f21b";
}
.sobex-tech-folder-delete:before {
  content: "\f21c";
}
.sobex-tech-folder-add:before {
  content: "\f21d";
}
.sobex-tech-edit:before {
  content: "\f21e";
}
.sobex-tech-document:before {
  content: "\f21f";
}
.sobex-tech-document-delete:before {
  content: "\f220";
}
.sobex-tech-document-add:before {
  content: "\f221";
}
.sobex-tech-brush:before {
  content: "\f222";
}
.sobex-tech-thumbs-up:before {
  content: "\f223";
}
.sobex-tech-thumbs-down:before {
  content: "\f224";
}
.sobex-tech-pen:before {
  content: "\f225";
}
.sobex-tech-bookmark:before {
  content: "\f226";
}
.sobex-tech-input-checked-outline:before {
  content: "\f227";
}
.sobex-tech-code-outline:before {
  content: "\f228";
}
.sobex-tech-calender-outline:before {
  content: "\f229";
}
.sobex-tech-business-card:before {
  content: "\f22a";
}
.sobex-tech-arrow-up:before {
  content: "\f22b";
}
.sobex-tech-arrow-sync-outline:before {
  content: "\f22c";
}
.sobex-tech-arrow-right:before {
  content: "\f22d";
}
.sobex-tech-arrow-left:before {
  content: "\f22e";
}
.sobex-tech-flow-switch:before {
  content: "\f22f";
}
.sobex-tech-document-text:before {
  content: "\f230";
}
.sobex-tech-clipboard:before {
  content: "\f231";
}
.sobex-tech-calculator:before {
  content: "\f232";
}
.sobex-tech-arrow-minimise-outline:before {
  content: "\f233";
}
.sobex-tech-arrow-maximise-outline:before {
  content: "\f234";
}
.sobex-tech-arrow-down:before {
  content: "\f235";
}
.sobex-tech-film:before {
  content: "\f236";
}
.sobex-tech-database:before {
  content: "\f237";
}
.sobex-tech-bell:before {
  content: "\f238";
}
.sobex-tech-adjust-contrast:before {
  content: "\f239";
}
.sobex-tech-world-outline:before {
  content: "\f23a";
}
.sobex-tech-shopping-bag:before {
  content: "\f23b";
}
.sobex-tech-power-outline:before {
  content: "\f23c";
}
.sobex-tech-notes-outline:before {
  content: "\f23d";
}
.sobex-tech-device-tablet:before {
  content: "\f23e";
}
.sobex-tech-device-phone:before {
  content: "\f23f";
}
.sobex-tech-briefcase:before {
  content: "\f240";
}
.sobex-tech-stopwatch:before {
  content: "\f241";
}
.sobex-tech-spanner-outline:before {
  content: "\f242";
}
.sobex-tech-puzzle-outline:before {
  content: "\f243";
}
.sobex-tech-printer:before {
  content: "\f244";
}
.sobex-tech-lightbulb:before {
  content: "\f245";
}
.sobex-tech-phone-outline:before {
  content: "\f246";
}
.sobex-tech-media-stop-outline:before {
  content: "\f247";
}
.sobex-tech-tags:before {
  content: "\f248";
}
.sobex-tech-credit-card:before {
  content: "\f249";
}
